<div class="card">
  <div class="card-body">
    {{#each this}}
    <section class="comment">
        Commented by {{user.username}}
        <p class="text-end">
            {{description}}
        </p class>
    </section>
  </div>
</div>