<div class="card">
  <div class="card-body">
    <a href="/post/{{id}}">
        <h5 class="card-title">{{title}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Created by {{user.username}}</h6>
        <p class="card-text">{{description}}</p>
    </a>
  </div>
</div>