{{!-- Create a new post --}}
<section>
    <h2 class="title">Create new post<h2>  
    <form class ='new-post'>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="post-title" class="form-control" id="exampleFormControlInput1" placeholder="Type title here">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="What do you want to write about?"></textarea>
        </div>
        <button type="button" class="btn btn-primary">Create a new post</button>
    </form>
</section>

<script src = "/public/js/create-new.js"></script>